* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.App {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 20px;
}
.card-container .loading {
  z-index: 10;
  border-radius: 50%;
  width: 34px;
  height: 34px;
   border: 1px solid #eee;
  border-top-color: rgb(0, 0, 0);
  animation: spin 1s infinite linear;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  max-height: 530px;
}

.card img {
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
